<router-outlet />
<mat-toolbar style="position: fixed; bottom: 0; padding-bottom: 1em; padding-left: 1em; padding-right: 1em;">
  <button mat-fab routerLink="home">
    <span class="material-symbols-outlined">home</span>
  </button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-fab routerLink="settings">
    <span class="material-symbols-outlined">
      settings
    </span>
  </button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-fab routerLink="mfa">
    <span class="material-symbols-outlined">
      passkey
    </span>
  </button>
</mat-toolbar>