<router-outlet />
<mat-toolbar style="position: fixed; bottom: 0;">
  <button mat-mini-fab routerLink="home">
    <span class="material-symbols-outlined">home</span>
  </button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-mini-fab routerLink="settings">
    <span class="material-symbols-outlined">
      settings
    </span>
  </button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-mini-fab routerLink="mfa">
    <span class="material-symbols-outlined">
      security_key
    </span>
  </button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-mini-fab routerLink="mfa">
    <span class="material-symbols-outlined">
      passkey
    </span>
  </button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-mini-fab routerLink="mfa">
    <span class="material-symbols-outlined">
      pin
    </span>
  </button>
</mat-toolbar>