@use '@angular/material' as mat;

//azure
html {
    color-scheme: light dark;
    @include mat.theme((color: mat.$spring-green-palette,
            typography: Roboto,
            density: -4));
}

body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
}

body.dark-mode {
    color-scheme: dark;
}